<app-add-post [posts]="posts"></app-add-post>
<input type="number" class="filterInput" [(ngModel)]="searchText" placeholder="Search by userId" />

<ul>
  <li *ngFor="let i = index; let post of posts | postFilter :searchText : 'userId'">
    <a routerLink="/post/{{ post.id }}">
      <span class="badge">{{ post.title }}</span>
      <br />
      By userID {{ post.userId }}
    </a>
    <span>
      <button class="btn first" (click)="deletePost(i, post.id)">Delete</button>
    </span>
  </li>
</ul>