li {
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0px;
}

li:hover{
  color: #404040 !important;
  font-weight: 700 !important;
  cursor: pointer;
  background: none;
  background-color: cyan;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow:0px 5px 40px -10px rgba(0,0,0,0.57) ;
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.3s ease 0s;
}

ul {
  padding: 1px;  
  padding-left: 40px;
}

.filterInput{
  margin-left: 24px;
  height: 26px;
  width: 149px;
  font-size: larger;
}