<p class="btn_perspective">
  <button (click)="showForm()" class="btn btn-3d btn-3db">
    {{showNewPostForm ? "Hide form" : "Add new post"}}
  </button>
</p><br />
<div *ngIf="showNewPostForm">
  User Id: <input [(ngModel)]="userId" placeholder="userId" /><br />
  Title : <input [(ngModel)]="title" placeholder="title" /><br />
  Body : <input [(ngModel)]="body" placeholder="body" /><br />
  <button (click)="addToArray(userId,title,body)">
    Confirm new Post
  </button>
</div>

<br />