*, *:after, *:before{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  
}
/* add post button styles */
.btn{
  border:none;
  position:relative;
  background:none;
  padding:13px 40px;
  display:inline-block;
  text-transform:uppercase;
  margin:15px ;
  color:inherit;
  letter-spacing:2px;
  font-size:0.9em;
  outline:none;
  -moz-transition:all 0.4s;
  -webkit-transition:all 0.4s;
  transition:all 0.4s;
  cursor:pointer;
}
.btn:after{
  content:"";
  position:absolute;
  z-index:-1;
  -webkit-transition:all 0.4s;
  -moz-transition:all 0.4s;
  transition:all 04.s;
}
.btn_perspective{
  -webkit-perspective:800px;
  -moz-perspective:800px;
  perspective:800px;
  display:inline-block;
}
.btn-3d{
  display:block;
  background:#5cbcf6;
  outline:1px solid transparent;
  transform-style:preserve-3d;
}
.btn-3db:after{
  width:100%;
  height:40%;
  left:0;
  top:100%;
  background:#53a6d7;
  transform-origin: 0% 0%;
  transform:rotateX(-90deg);
}
.btn-3db:hover{
  transform:rotateX(360deg);   
}



