<div *ngIf="post">
  <h1> {{post["title"]}}</h1>
  <div>
    user Id: {{post["userId"]}}<br />
    post ID: {{post["id"]}}
  </div>
  <p>{{post["body"]}}</p>
</div>

<div>
</div>

<div>
  <!-- this DIV is the Button to show or hide comments -->
  <div class="button_cont" (click)="showComments()" *ngIf="post">
    <span class="example_e" rel="nofollow noopener">
      {{showCommentsSection ? "Hide comments" : "Show comments"}}
    </span>
  </div>

  <!-- start of comment section -->
  <ul *ngIf="showCommentsSection">
    <li *ngFor="let comment of comments">
      <span class="badge">comment ID: {{ comment.id }}</span>
      <br />
      <span><b>email</b> : {{ comment.email}}</span>
      <br />
      <span><b>name</b> : {{ comment.name}}</span>
      <br />
      <span><b>body</b> : {{ comment.body}}</span>
      <br />
    </li>
  </ul>
</div>