.example_e {
  border: none;
  background: black;
  color: #ffffff !important;
  font-weight: 80;
  padding: 20px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  }

.example_e:hover {
  color: #404040 !important;
  font-weight: 700 !important;
  cursor: pointer;
  letter-spacing: 3px;
  background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow:0px 5px 40px -10px rgba(0,0,0,0.57) ;
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.3s ease 0s;
  }