<style>
  .spacer {
    flex: 1;
  }

  .active {
    color: white;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <nav>
    <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
  </nav>
</div>
<div class="content" role="main"></div>

<router-outlet></router-outlet>